/*margin: 0;
padding: 0;*/

ul{
	list-style-type: none;
	box-sizing: border-box;
	overflow: hidden;
	color: black;
}

li{
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	}

 li a{

 	display: block;
 	color: black;
 	text-align: center;
 	text-decoration: none;

}

img{

	float: left;
	width: 200px;

}

nav{

	border-radius: 3px;
	background-color: #fff;
}

