

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
img { 
    width: 200px;
  }
  nav {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
    background-color: white;
	padding: 0 4%;
  }